.bar{
    margin:0 auto;
    width:575px;
    border-radius:5px;
    border:1px solid #dcdcdc;
    display: block;
    position: relative;
    background: white;
    border-radius: 10px;
    
  }


  .bar:hover{
    box-shadow: 1px 1px 8px 1px #1d1b1b;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #1e1d1d;
    outline:none;
  }
  .searchbar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    border-radius: 10px;
    
  }
  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:10px;
  }

  .adjust{
      margin-top: 20px;
      display: flex;
      flex-wrap: wrap;
  }

  .weather-container{
      display: flex;
      margin: 50px;
      flex-wrap: wrap;
  }

  .searchbar-container{
    
  }

  .searchbox{
      flex:1;
  }

  .weather-container div{
      padding: 10px
  }

  .left{
      flex: 1;
      line-height: 0.4em;
  }

  .right{
      flex: 1
  }



.widget
{
  position: relative;
  width: 80%;
  height: 80%;
  margin: 50px auto;
  background-color: #fcfdfd;
  border-radius: 9px;
  padding: 25px;
  padding-right: 30px;
  box-shadow: 0px 31px 35px -26px #080c21;
}

.left-panel
{
  
}

.date
{
  font-size: 14px;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
}

.city
{
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 5px;
  color: rgba(0,0,0,0.7);
}

.temp
{
  font-size: 81px;
  color: rgba(0,0,0,0.9);
  font-weight: 100;
}

.panel
{
  display: inline-block;
}

.right-panel
{
  position: relative;
  float: right;
  top: 0;
  padding-left: 10px;
}

// Boostrap Typeahead CSS
$input-border-radius: 6px;
@mixin show-dropdown {
  z-index: 101;
  display: block
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.input-inline-button {
  display: inline-block;
  position: absolute;
  z-index: 4;
  right: 0;
  top: 0;
  text-decoration: none;
  padding: 0.5em;
  color: #999;
}
.list-group-item {
  &.active {
    background: #eee;
    border-color: #eee;
    color: #333;
  }
} 
.icon-plus {
  &:after {
    content: "➕";
  }
}

.typeahead {
  position: relative;
  .input-group-addon {
    &:after {
      content: ':';
      display: inline;
    }
  }
  &-dropdown {

    display: none;
    // border-top: 1px solid #aaa;
    position: absolute;
    top: 100%;
    width:575px;
    margin-top: -2px;
    transition-delay: 0.75s;
    transition: display 1s;
    &:hover {
      display: block;
    }
    > .list-group-item {
      &:first-child {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        &:not(:last-child) {
          border-radius: 0;
        }
      }
    }
    &:focus {
      @include show-dropdown;
    }
  }
  &-input {
    z-index: 1;
    position: relative;
    &.form-control {
      border-top-right-radius: $input-border-radius !important;
      border-bottom-right-radius: $input-border-radius !important;
    }
    &:focus {
      z-index: 3;
      padding-bottom: 8px;
      height: 36px;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0 !important;
      + .typeahead-dropdown {
        @include show-dropdown;
      }
    }
  }
  &-input-filter {
    // display: inline-block;
    // border: 1px solid;
    // @extend .input-group-addon ;
  }
}

#map { position: absolute; top: 0; bottom: 0; width: 100% }