<div *ngIf="hasUserLocation; else getLocationTemplate">
  <div class="bg">
    <div class="container">
      <div class="row justify-content-center">
        <h1 class="display-1 heading">WEATHER APP</h1>
      </div>
    </div>
    
    <div class="row w-100"></div>
    <br /><br /><br />

    <div class="row">
      <div class="col-sm d-flex justify-content-center">
        <div class="row justify-content-center">
          <a routerLink="/weather" id="enterButton"><h1 class="display-6 heading-center">CLICK TO ENTER</h1></a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #getLocationTemplate>
  <!-- Default form login -->
  <div class="bg2"></div>
  <div class="center-form">
    <p class="h4 mb-4 text-light">
      We would Serve you better if we have your location!!
    </p>
    <form class="text-center border border-light p-5">
      <div class="form-group typeahead">
        <input
          type="text"
          class="form-control typeahead-input"
          id="addLocation"
          placeholder="Enter your location"
          autocomplete="off"
          #location
          (keyup)="getLocations(location.value)"
        />
        <div class="typeahead-dropdown list-group">
          <a
            *ngFor="let location of locationsData"
            (click)="selectUserLocation(location)"
            class="list-group-item"
            >{{ location.state }}
            <small class="text-muted">{{ location.result_type }}</small> |
            <small class="text-muted">{{ location.country }}</small>
          </a>
        </div>
      </div>
    </form>
  </div>

  <!-- Default form login -->
</ng-template>
